@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Vital: Proíbe scroll na página inteira */
  background:  transparent; /* #09090b; Fundo escuro padrão para alto contraste (ZInc 950) */
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: transparent;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Container da app também travado */
  display: flex;
  flex-direction: column;
}

/* Utilitários para scrollbar interna (se algum widget específico precisar) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}